body {
  background-color: antiquewhite;
  display: block;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
#keyboard-name {
  text-align: center;
  background-color: aliceblue;
  width: 70px;
  margin-left: 470px;
  margin-bottom: 60px;
  border: 2px solid black;
  border-radius: 10px;
}

.piano-displying-div {
  display: flex;
  overflow: visible;
  background-color: goldenrod;
  width: 1000px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.piano-key-wraper {
  border-radius: 10px;
  overflow: visible;
  /* position: absolute; */
  margin-left: 100px;
  background-color: black;
  width: 800px;
  height: 350px;
  display: flex;
}

.piano-key-wraper div {
  flex: 8;
}

/* White key note styling */
.white-keyC,
.white-keyD,
.white-keyE,
.white-keyF,
.white-keyG,
.white-keyH,
.white-keyI,
.white-keyJ {
  overflow: visible;
  transition: ease-in-out -2s;

  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  width: 72px;
  height: 350px;
}

/* white key active styling */
.white-keyC.active,
.white-keyD.active,
.white-keyE.active,
.white-keyF.active,
.white-keyG.active,
.white-keyH.active,
.white-keyI.active,
.white-keyJ.active {
  height: 340px;
}

/* Black key note styling */

.black-keyK,
.black-keyL,
.black-keyM,
.black-keyN,
.black-keyO {
  transition: ease-in-out -2s;
  position: absolute;
  margin-left: 80px;
  background-color: black;
  width: 40px;
  height: 200px;
  border-radius: 10px;
}
/* black not key active styling */
.black-keyK.active,
.black-keyL.active,
.black-keyJ.active,
.black-keyM.active,
.black-keyM.active,
.black-keyN.active,
.black-keyO.active {
  height: 190px;
}

/* Footer styling */

.key-marking {
  position: relative;
  align-self: center;
  height: 800px;
  background: burlywood;
  width: 250px;
}

.key-marking > h2 {
  text-align: center;
  color: #fff;
  font-family: "Handlee", cursive;
  color: rgb(59, 38, 38);
  margin-bottom: 35px;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}

.key-list {
  font-weight: bolder;
  list-style: none;
  color: rgb(59, 38, 38);
  text-align: left;
}

.key-list > li {
  margin-bottom: 25px;
}

.key-code {
  color: #444;
  background-color: #eaeaea;
  font-size: 1.25em;
  padding: 5px 10px;
  border-radius: 4px;
  border: 3px solid #aaa;
}

.key-sound {
  font-size: 1.2em;
  margin-left: 10px;
  font-family: "Handlee", cursive;
  vertical-align: middle;
}
@media (max-width: 1200px) {
}
